	
/*navigation menu*/

	.bg-custom{
		background-color:#121212;
	}
	
.nav-link, .navbar-brand {
		color:#f5b642;
	}
	.navbar-text a{
		color:#f5b642;
	}



	/*jumbotron*/


	.jumbotron{
		background-color:#121212;
		padding:2rem 6rem;
		display:flex;
		flex-direction:row;
		color:#f5b642;


	}
	.jumbotron img{
		width:1200px;
	}


	/*about us*/
	
	#brandname{
		color:#121212;
	}
    
    #about p{
    	text-align:justify;
    	user-select:none;

    }
    /*product section*/


#Saree ,#product_icons {
    	width:40px;
    	
    }
    #Saree ,#product_icons img{
    	
    	background-color:#f5b642;
    	margin:5px 0px;
    	padding:5px;
    }
#product_icons{
	position:absolute;
	top:25px;
	opacity:0px;
	transition:opacity 0.3s;
	cursor:pointer;
}
#Saree #card:hover #product_icons{
	opacity: 1;
}
#icon{
	padding:20px;
}
#addtocart{
	width:35px;
	float:right;
	background-color:#f5b642;
	
}
.card-footer{
	background-color:#121212;
}

.slider{
	display:flex;
	align-items:center;
}
.slider img{
	width:250px;
}
.footer{
	display:flex;
	align-items:center;
	margin-top:200px;
height:250px;
background-color:#121212;
color:#f5b642;
cursor:pointer;
}
.footer ul{
	list-style-type:none;
	margin:0px;
	padding:0px;

}
.social_icons{
	display:flex;
	justify-content:center;
}

.card{
	width:180px;
}
.footer{
	margin:0;
	padding:0;
	margin-top: 200px;
	background-color: #121212;
}
.footercontainer{
	width: 1150px;
	padding: 70px 30px 20px;
}

.socialicon{
	display: flex;
	justify-content: center;
}

.socialicon a{
	text-decoration: none;
	padding: 10px;
	background-color: #f5b642;
	margin: 10px;
	border-radius: 50%;
}
.socialicon a i{
	font-size: 2em;
	color: black;
	opacity: 0.9;
}

/*hover effect*/
.socialicon a:hover{
	background-color: #f5b642;
	transition: 0.5s;
}
.footernav ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.footernav ul li a{
	color: #f5b642;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
	background-color:#121212;
	padding: 20px;
	text-align: center;
}
.footerbottom p{
	color: #f5b642;
}
